<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js" type="module"></script>
</head>

<body>
    <div class="container">
        <div class="section">
            <h1 class="title is-1" id="titulo_almacen">Almacen del tito</h1>
            <div class="field">
                <label class="label">Ingrese su búsqueda</label>
                <div class="control"> 
                    <input id="searchInput" class="input" type="text" placeholder="Ingrese nombre del producto">
                </div>
            </div>
        </div>
    
        <div class="productos">
            <div id="productList" class="columns is-multiline">

                <!-- Productos se mostrarán aquí -->

                <!-- Producto 1 -->
                <div class="card">
                    <div class="car-image">
                        <figure class="image is-4by3">
                            <img 
                            class="is-rounded" 
                            src="/WebProductos/ImagenesProductos/CocaColaBotella.jpg" 
                            alt="Botella de Coca Cola"    
                            draggable="false"                           
                            >
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-5 titulo_producto">Coca Cola</p>
                        <p class="subtitle">240$</p>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Botella de Coca Cola de 3 litros, ideal para compartir en familia
                        </div>
                    </div>
                </div>

                <!-- Producto 2 -->
                <div class="card">
                    <div class="car-image">
                        <figure class="image is-4by3">
                            <img 
                            class="is-rounded" 
                            src="/WebProductos/ImagenesProductos/Churrascos.jpg" 
                            alt="120g, 3 unidades de churrascos en bolsa"  
                            draggable="false"                                
                            >
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-5 titulo_producto">Churrascos</p>
                        <p class="subtitle">800$</p>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            120g, 3 Unidades de churrascos, ideal para los asados en familia
                        </div>
                    </div>
                </div>

                <!-- Producto 3 -->
                <div class="card">
                    <div class="car-image">
                        <figure class="image is-4by3">
                            <img 
                            class="is-rounded" 
                            src="/WebProductos/ImagenesProductos/DulceDeLeche.jpg" 
                            alt="Dulce de leche La Serenisima importado Argentino"     
                            draggable="false"                             
                            >
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-5 titulo_producto">Dulce De Leche</p>
                        <p class="subtitle">1200$</p>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Dulce de leche La Serenisima importado Argentino
                        </div>
                    </div>
                </div>

                <!-- Producto 4 -->
                <div class="card">
                    <div class="car-image">
                        <figure class="image is-4by3">
                            <img 
                            class="is-rounded" 
                            src="/WebProductos/ImagenesProductos/ManzanasRojas.jpg" 
                            alt="Manzanas Rojas"                               
                            >
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-5 titulo_producto">Manzanas Rojas</p>
                        <p class="subtitle">89$ Kilo</p>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Manzanas Rojas de excelente calidad
                        </div>
                    </div>
                </div>

                <!-- Producto 5 -->
                <div class="card">
                    <div class="car-image">
                        <figure class="image is-4by3">
                            <img 
                            class="is-rounded" 
                            src="/WebProductos/ImagenesProductos/Peras.jpg" 
                            alt="Peras"      
                            draggable="false"                            
                            >
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-5 titulo_producto">Peras</p>
                        <p class="subtitle">100$ Kilo</p>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Peras de excelente calidad
                        </div>
                    </div>
                </div>

                <!-- Producto 6 -->
                <div class="card">
                    <div class="car-image">
                        <figure class="image is-4by3">
                            <img 
                            class="is-rounded" 
                            src="/WebProductos/ImagenesProductos/Sandias.jpg" 
                            alt="Sandías"  
                            draggable="false"                                
                            >
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-5 titulo_producto">Sandías</p>
                        <p class="subtitle">200$ C/U</p>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Sandías enteras de excelente calidad
                        </div>
                    </div>
                </div>

            </div>
            <div id="noResults" class="has-text-centered is-hidden">
                <p class="title">Producto no encontrado</p>
            </div>
        </div>
    </div>
</body>

</html>