<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" href="styles.css">
        <script src="script.js" type="module"></script>
    </head>

    <body>
        <div class="container">
            <div class="section">
                <h1 class="title is-1">Almacen del tito</h1>
                <div class="field">
                    <label class="label">Ingrese su busqueda</label>
                    <div class="control"> 
                        <input id="searchInput" class="input" type="text" placeholder ="Ingrese nombre del producto">
                    </div>
                </div>
            </div>
        
            <div class="productos">
                <div id="productList" class="columns is-multiline">
                    <!--Aca van los productos-->
                </div>
                <div id="noResults" class="has-text-centered is-hidden">
                    <p class="title">Producto no encontrado</p>
                </div>
            </div>
        </div>
    </body>

</html>