/* Estilo general */
html {
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.shifted {
    margin-right: 300px; /* Mueve toda la página hacia la izquierda igual al ancho del carrito */
}

/* Título */
#titulo_almacen {
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    background-color: #2ec4b6;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
}

#titulo_carrito {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    background-color: #2ec4b6;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Input de búsqueda */
#searchInput {
    background-color: #cbf3f0;
    color: #000000;
    border: 2px solid #2ec4b6;
    border-radius: 15px;
    width: 30rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0 10px;
    transition: border-color 0.3s ease;
}

#searchInput::placeholder {
    color: gray;
}

#searchInput:hover {
    border-color: #F08626; /* Cambia el color del borde al color #F08626 */
}


/* Lista de productos */
#productList, #cartList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem; /* Aumenta el espacio entre tarjetas */
    padding: 2rem; /* Añade un relleno alrededor de la lista */
    background-color: #eaeaea; /* Fondo acorde al tema general */
    border-radius: 15px; /* Bordes redondeados para todo el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    margin: 0 auto; /* Centrar la lista */
    max-width: 1200px; /* Limitar el ancho máximo para mayor control */
}

/* Tarjeta de producto */
.card {
    background-color: #cbf3f0;
    height: auto;
    width: 100%;
    max-width: 25rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 4px solid #2ec4b6;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    border-color: #F08626; /* Cambia el color del borde al color #F08626 */
}

/* Imagen de la tarjeta */
.card-image {
    width: 100%;
    border-radius: 0; /* El borde redondeado se aplicará con la tarjeta, no con la imagen */
    display: block;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.card-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    border-color: #F08626; /* Cambia el color del borde al color #F08626 */
}

/* Estilos para títulos y subtítulos dentro de la tarjeta */
.title, .subtitle, .media-content, .card-content, .content {
    text-align: center;
    background-color: #cbf3f0;
    color: #000000;
    border-radius: 15px;
    padding-top: 5px;
}

/* Estilo para títulos dentro de las tarjetas */
.titulo_producto {
    color: #ff9f1c;
}

/* Estilo para el subtítulo dentro de las tarjetas */
.subtitle {
    color: #2f4858;
}

/* Estilo para imágenes redondeadas */
.is-rounded {
    border-radius: 15px !important;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}
.container_input_dropdown {
    display: flex;
    align-items: center;
}

/* Botones del filtro */
#dropdown_button, #dropdown_button_category {
    background-color: #FFE3C9;
    color: #000000;
    border: 2px solid #2ec4b6;
    border-radius: 15px;
    height: 2rem;
    margin-left: 3rem;
    padding: 0 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 4px 6px rgba(167, 83, 83, 0.2);
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

#dropdown_button:hover , #dropdown_button_category:hover {
    background-color: #2ec4b6;
    border-color: #F08626;
    color: #ffffff;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}


#dropdown_button i {
    font-size: 1.2rem;
    color: #F08626;
}

#boton_default:hover, #boton_menor_precio:hover, #boton_mayor_precio:hover {
    background-color: #2ec4b6;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-color: #F08626;
}

/* Específico para cada botón si se desea variar el color */
#boton_menor_precio:hover {
    background-color: #2ec4b6;
}

/* Estilo para el contenido del menú desplegable */
.dropdown-menu {
    background-color: #cbf3f0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid #2ec4b6;
    overflow: hidden;
}

/* Estilo para los elementos dentro del menú desplegable */
.dropdown-item {
    color: #000000;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #F08626;
}

.dropdown-item:hover {
    background-color: #F08626;
    color: #ffffff;
}

/* Elemento activo (opcional) */
.dropdown-item.is-active {
    background-color: #F08626;
    color: #ffffff;
}

/* Bordes redondeados para el primer y último elemento */
.dropdown-content  {
    background-color: #2ec4b6;
}
/* Bordes redondeados para el primer y último elemento */
.dropdown-content .dropdown-item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.dropdown-content .dropdown-item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.dropdown-menu.dropdown-menu{
    background-color: #2ec4b6;
}

/* Estilo para el botón del carrito */

.btnCart {
    background-color: #F08626;
    border: 2px solid black;
    border-radius: 15px;
    height: 4rem;
    margin-left: 5rem;
    padding: 0 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btnCart:hover {
    background-color: #2ec4b6;
    border-color: black;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

#productsCart {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en columna */
}

#cartList {
    flex: 1; /* Ocupa todo el espacio disponible entre el título y el footer */
    margin: 1rem;
    overflow-y: auto; /* Habilita el scroll si hay muchos productos */
}

/* Estilo para el precio */
#priceCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    border-top: 2px solid #ddd; /* Línea superior de color gris claro */
    padding: 0.5rem 0; /* Espaciado arriba y abajo */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


#productsCart.hidden {
    transform: translateX(100%); /* Oculta el carrito */
}

#productsCart:not(.hidden) {
    transform: translateX(0); /* Muestra el carrito */
}

/* Media Queries */
@media (max-width: 768px) {
    #titulo_almacen {
        font-size: 2em;
        padding: 10px;
        margin: 10px auto;
    }

    #searchInput {
        height: 1.5rem;
    }

    .card {
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 480px) {
    #titulo_almacen {
        font-size: 1.5em;
        padding: 5px;
    }

    #searchInput {
        height: 1.2rem;
    }

    .card {
        margin-bottom: 1rem;
    }
}